* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

/* Diseño  bloque 1 */
.header {
    background-image: linear-gradient(to left top, #424449, #383e40, #313737, #2b2f2d, #272825);
    padding: 15px 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-derecha {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s ease;
}

/* estilo boton nav */
.btn {
    background-color: rgb(92, 51, 225);
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    color: white;
    cursor: pointer;


}

/* diseño bloque 2 */
.main {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;
}

/* estilo columna izquierda */
.col-izquierda {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* estilo columna derecha */
.col-derecha {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* tarjetas generales */
.perfil,
.educacion,
.solicitudes,
.conexiones {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

/* diseño contenido principal */
.banner {
    background-image: linear-gradient(to right bottom, #9e7dd5, #8870c6, #7263b6, #5c56a7, #454a97);
    height: 120px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.perfil {
    background-color: white;
    border-radius: 10px;
    position: relative;
    padding-bottom: 30px;
}

/* diseño foto perfil */
.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid white;
    position: absolute;
    top: 60px;
    left: 40px;
    filter: brightness(1.3);
}

.perfil-info {
    padding: 20px;
    padding-top: 100px;
}

/* estilo perfil-info h1 */
.perfil-info h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

/* estilo parrafo perfil-info */
.perfil-info p {
    margin-bottom: 10px;
    color: #555;
    text-align: justify;
}

/* estilo parrafo bloque  */
.educacion p {
    margin-bottom: 10px;
    line-height: 1.5;
    color: #555;
}

/* estilo parrafo perfil-info */
.perfil-info p.especial {
    color: #250650;
    font-size: 18px;
    font-style: italic;

}

/* estilo boton edit profile */
.edit-link {
    color: #0e3a67;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 10px;
}

/* Tarjeta aside */
.solicitudes,
.conexiones {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

/* Titulos aside */
.solicitudes h3,
.conexiones h3 {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: bold;
}

/* fila: solicitud y conexion */
.solicitud,
.conexion {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

/* diseño fotos redondas pequeñas */
.solicitud img,
.conexion img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/* nombres columna izquierda */
.solicitud span,
.conexion span {
    flex-grow: 1;
    font-size: 15px;
    color: black;
}

/* Botones */
.solicitud button {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

/* Estilo botones de conexion*/
.solicitud button:first-of-type {
    background-color: transparent;
    border: 2px solid #539924;
    color: #539924;
}

.solicitud button:last-of-type {
    background-color: transparent;
    border: 2px solid #ff4b1e;
    color: #ff4b1e;
}

.solicitud button:hover {
    opacity: 0.8;
}