body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.card{
    margin: 10px;
    border: 5px solid black;
}

.footer{
    background-color: greenyellow;
    padding: 10px;
}